.input {
  width: 90%;
  margin-bottom: 20px;
  height: 35px;
  border: 1px solid #282c34;
  padding: 0 10px 0 10px;
  //transition: all 200ms ease-in-out;
  font-size: 20px;
  font-weight: 300;
  border-radius: 5px;
  text-align: center;
}

